bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SimplePlatformer/.idea/.gitignore
/.idea/.idea.SimplePlatformer/.idea/encodings.xml
/.idea/.idea.SimplePlatformer/.idea/indexLayout.xml
/.idea/.idea.SimplePlatformer/.idea/vcs.xml
